* {
    box-sizing: border-box;
  }
     /* ###################HEADER############## */
     .topnav{
      background-color: white;
      height: 110px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    hr{
      margin: 5px;
    }
    .flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .flex1{
      display: flex;
      align-items: center;
    }
    .sign-up{
      padding: 13px 30px;
      margin: 10px;
      border-radius: 50px;
      background-color: #ffa000;
      color: white;
      font-size: 17px;
      border: none;
      font-family: sans-serif;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    }
    .sign-up:hover {
      opacity: 0.7;
    }
    .user{
      margin: 10px;
    }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #ffa000;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #ffa000;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }